/* Importação de fontes */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap');


/* Estilização geral dos elementos */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
}


/* Fundo da página */
div#background {
  background: hsl(257, 40%, 49%) url('../images/bg-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100vw;
  height: 100vh;
}

div.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}

img#img-logo {
  width: 15%;
}


/* Imagem e texto ao centro da tela */
div#content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

div#content div.text {
  padding-left: 100px;
}

div#content div.text h2,
div#content div.text p {
  color: white;
  width: 90%;
}

div#content div.text h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  margin-bottom: 25px;
}

div#content div.text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

div#content div.text div.btn {
  margin-top: 30px;
}

div#content div.text div.btn a {
  border-radius: 50px;
  padding: 10px 50px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: hsl(257, 40%, 49%);
  background: white;
  box-shadow: 2px 2px 15px rgb(71, 71, 71);
}


/* Estilização das imagens de medias sociais */
div#social-medias {
  text-align: right;
}

div#social-medias img {
  border: 1px solid white;
  border-radius: 25px;
  height: 45px;
  margin: 10px;
  padding: 12px;
}



/* Estilização para dispositivos menores */
@media screen and (max-width: 768px) {
  div#background {
    background: hsl(257, 40%, 49%) url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain  ;
    max-width: 100vw;
    height: auto;
  }

  div.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 3%;
  }

  img#img-logo {
    width: 50%;
  }


  /* Imagem e texto ao centro da tela */
  div#content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  div#content div.img img#illustration {
    width: 100%;
    margin-top: 50px;
  }

  div#content div.text {
    padding-left: 0px;
    margin-top: -20px;
  }

  div#content div.text h2,
  div#content div.text p {
    width: 100%;
    text-align: center;
  }

  div#content div.text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin-bottom: 25px;
  }

  div#content div.text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
  }

  div#content div.text div.btn {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

  div#content div.text div.btn a {
    border-radius: 50px;
    padding: 10px 50px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: hsl(257, 40%, 49%);
    background: white;
    box-shadow: 2px 2px 15px rgb(71, 71, 71);
  }


  /* Estilização das imagens de medias sociais */
  div#social-medias {
    text-align: center;
  }

  div#social-medias img {
    border: 1px solid white;
    border-radius: 25px;
    height: 45px;
    margin: 10px;
    padding: 12px;
  }
}
